{% extends 'transport/base.html' %}
{% load static %}
{% block content %}
<div class="load_container">
    <div class="item_di">
        <div class="title-load">
            <p>{{title}} $ {{payment_expected_sum | floatformat:'2g'}}</p>
        </div>
        {% for l in payment_expected_for_load %}
        {% if l.executed %}
        <div class="payment-list-green">
            <div class="review_top">
                <img class="pi_views_img" src="{% static 'transport/images/to_pay_ok.svg' %}" alt="broker">
                <div class="pi_right">
                    <a href="{{l.get_absolute_url}}">
                        <p>{{l.broker_carrier_mc.company_name}}</p>
                        <p>{{l.transaction_name}} {{l.transaction_data | date:"d M Y"}}</p>
                        <p>{{l.buyer_seller_mc.company_name}}</p>
                        <h3>{{l.slug.load_prefix_broker}}{{l.slug}} ${{l.cash_sum | floatformat:'2g'}}</h3>
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="payment-list-blue">
            <div class="review_top">
                <img class="pi_views_img" src="{% static 'transport/images/to_pay.svg' %}" alt="broker">
                <div class="pi_right">
                    <a href="{{l.get_absolute_url}}">
                        <p>{{l.broker_carrier_mc.company_name}}</p>
                        <p>{{l.transaction_name}} {{l.transaction_data | date:"d M Y"}}</p>
                        <p>{{l.buyer_seller_mc.company_name}}</p>
                        <h3>{{l.slug.load_prefix_broker}}{{l.slug}} ${{l.cash_sum | floatformat:'2g'}}</h3>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}