{% load static %}
{% load transport_tags %}

{% if not load.stat_id == 2 %}
<div class="pi-list">
    <div id="doc_anchor_close_{{doc_slug}}" class="review_top">
        <img class="pi_views_img" src="{% static 'transport/images/doc_view_.svg' %}" alt="Doc">
        <div class="pi_right">
            <h4>{{title}}</h4>
            {% for d in seller_doc %}
            <a href="{{ d.documents.url }}" target="_blank">
                <div class="doc-list_show">
                    <img class="doc_views" src="{% static 'transport/images/doc_view.svg' %}" alt="Doc">
                    {{d.doc}}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="pi-list">
    <div id="payment_anchor_close_{{doc_slug}}" class="review_top">
        <img class="pi_views_img" src="{% static 'transport/images/debt.svg' %}" alt="Doc">
        <div class="pi_right">
            <h4>{{title_pay}}</h4>
            <h4>seller debt ${{cash_sum | floatformat:'2g'}}</h4>
            {% for d in transaction_get %}
            {% if d.executed %}
            <div class="payment-list_show_green">
                {% else %}
                <div class="payment-list_show">
                    {% endif %}
                    {% if not load.stat_id == 7 %}
                    {% if load.stat_id != 6 %}
                    <a href="{{ d.get_absolute_url }}">
                        {% endif %}
                        {% endif %}
                        <p>{{d.transaction_data | date:"d M Y" }}</p>
                        <h4>{{d.transaction_name}} ${{d.cash_sum | floatformat:'2g'}}</h4>
                        <p>{{d.comment}}</p>
                        {% if not load.stat_id == 7 %}
                        {% if load.stat_id != 6 %}
                    </a>
                    {% endif %}
                    {% endif %}
                    <hr>
                    <a href="{{ d.payment_doc.url }}" target="_blank">
                        <img class="doc_views" src="{% static 'transport/images/doc_view.svg' %}" alt="Doc">
                        payment doc
                    </a>
                </div>
                {% endfor %}
                {% for d in transaction_send %}
                {% if d.executed %}
                <div class="payment-list_show_green">
                    {% else %}
                    <div class="payment-list_show">
                        {% endif %}
                        {% if not load.stat_id == 7 %}
                        {% if load.stat_id != 6 %}
                        <a href="{{ d.get_absolute_url }}">
                        {% endif %}
                        {% endif %}
                        <p>{{d.transaction_data | date:"d M Y" }}</p>
                        <h4>{{d.transaction_name}} ${{d.cash_sum | floatformat:'2g'}}</h4>
                        <p>{{d.comment}}</p>
                        <hr>
                        <a href="{{ d.payment_doc.url }}" target="_blank">
                            <img class="doc_views" src="{% static 'transport/images/doc_view.svg' %}" alt="Doc">
                            payment doc
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if not load.stat_id == 7 %}
        {% if load.stat_id != 6 %}
        {% if perms.transport.change_sellerload %}
        {% if not load.stat_id == 2 %}
        <div class="pi-list_more">
            <div id="seller_more_open_{{doc_slug}}"></div>
            <button class="title-button_inside"
                    onClick="show('seller_more_{{doc_slug}}', 'seller_more_open_{{doc_slug}}', 'seller_more_open_{{doc_slug}}');return false;">
                {{seller_more}}
            </button>
            <div id="seller_more_{{doc_slug}}" class="hidden">
                <hr>
                {% else %}
                <div class="pi-list_more">
                {% endif %}
                <div id="edit_seller_load_anchor_open_{{doc_slug}}"></div>
                <button class="title-button_inside_margin"
                        onClick="show('edit_seller_load_{{doc_slug}}', 'edit_seller_load_anchor_open_{{doc_slug}}', 'edit_seller_load_anchor_open_{{doc_slug}}');return true;">
                    {{title_edit_seller_load}}
                </button>
                <div id="edit_seller_load_{{doc_slug}}" class="hidden">
                    <form action="{% url 'seller_load_save' s_load_id %}#seller_load_info" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for m in seller_load_edit %}
                        {% if not m.is_hidden %}
                        <div class="item"><label class="form-label" for="{{ f.id_for_label }}">{{m.label}}:</label>{{m}}
                        </div>
                        <div class="form-error">
                            {{ m.errors }}
                        </div>
                        {% endif %}
                        {% endfor %}
                        <button class="form-button" type="submit">{{title_button_save}}</button>
                    </form>
                </div>
                {% if not load.stat_id == 2 %}
                {% if perms.transport.view_docseller %}
                <div id="doc_anchor_open_{{doc_slug}}"></div>
                <button class="title-button_inside_margin"
                        onClick="show('doc_show_{{doc_slug}}', 'doc_anchor_open_{{doc_slug}}', 'doc_anchor_close_{{doc_slug}}');return true;">
                    {{title_add_doc}}
                </button>
                <div id="doc_show_{{doc_slug}}" class="hidden">
                    {% if perms.transport.delete_docseller %}
                    <div id="doc">
                        {% for l in seller_doc %}
                        <a href="{{ l.documents.url }}" target="_blank">
                            <div class="doc-list">
                                <img class="doc_views" src="{% static 'transport/images/doc_view.svg' %}" alt="Doc">
                                {{l.doc}}
                            </div>
                        </a>
                        <div class="doc-list_del">
                            <form action="{% url 'delete_seller_doc' l.id %}#doc_anchor_close_{{doc_slug}}"
                                  method="post">
                                {% csrf_token %}
                                <button class="del_doc" type="submit">Del</button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if perms.transport.add_docseller %}
                    <form action="{% url 'seller_documents' %}#doc_anchor_close_{{doc_slug}}" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for m in seller_doc_form %}
                        <div class="item"><label class="form-label" for="{{ f.id_for_label }}">{{m.label}}:
                        </label>{{m}}
                        </div>
                        <div class="form-error">
                            {{ m.errors }}
                        </div>
                        {% endfor %}
                        <button class="form-button" type="submit">Add doc</button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
                {% if perms.transport.view_cashtransaction and perms.transport.view_sellerload %}
                <div id="payment_seller_load_anchor_open_{{doc_slug}}"></div>
                <button class="title-button_inside_margin"
                        onClick="show('payment_seller_load_{{doc_slug}}', 'payment_seller_load_anchor_open_{{doc_slug}}', 'payment_anchor_close_{{doc_slug}}');return true;">
                    {{title_payment}}
                </button>
                <div id="payment_seller_load_{{doc_slug}}" class="hidden">
                    {% if perms.transport.view_cashtransaction and perms.transport.change_sellerload %}
                    <div id="payment">
                        {% for d in transaction_all %}
                        {% if not d.executed %}
                        <div class="doc-list">
                            <img class="doc_views" src="{% static 'transport/images/debt.svg' %}" alt="Doc">
                            {{d.transaction_data | date:"d M Y" }} {{d.transaction_name | cut:'payment' }}
                            ${{d.cash_sum | floatformat:'2g'}}
                        </div>
                        <div class="doc-list_del">
                            <form action="{% url 'delete_seller_payment' d.id %}#payment_anchor_close_{{doc_slug}}"
                                  method="post">
                                {% csrf_token %}
                                <button class="del_doc" type="submit">Del</button>
                            </form>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if perms.transport.view_cashtransaction and perms.transport.change_sellerload %}
                    <form action="{% url 'cash_transaction_seller_add' load_slug %}#payment_anchor_close_{{doc_slug}}"
                          method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for m in payment_form %}
                        {% if not m.is_hidden %}
                        <div class="item"><label class="form-label" for="{{ f.id_for_label }}">{{m.label}}:</label>{{m}}
                        </div>
                        <div class="form-error">
                            {{ m.errors }}
                        </div>
                        {% endif %}
                        {% endfor %}
                        <button class="form-button" type="submit">{{title_transaction}}</button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
                <div>
                    <a href="{% url 'pdfview:render_pdf_invoice_for_seller' doc_slug %}" target="_blank">
                        <button class="title-button_inside_margin">Create invoice for seller</button>
                    </a>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>